.panel.panel-default
  .panel-heading.panel-title
    Predicted win probability
  .panel-body
    %canvas{id: id, width: '500', height: '400'}

:javascript
  $(window).ready(() =>
    drawPieChart(
      '#{id}', {data: [#{prediction}, #{1 - prediction}]},
      ['#{@first.name} (#{@first.country})', '#{@second.name} (#{@second.country})']))
