%p#notice= notice

%p
  %b Oncourt:
  = @player.oncourt_id
%p
  %b Name:
  = @player.name
%p
  %b Birthdate:
  = @player.birthdate
%p
  %b Country:
  = @player.country

= link_to 'Edit', edit_player_path(@player)
\|
= link_to 'Back', players_path
