%h1 Coming games
.bg-image.coming
%table.table
  %thead
    %tr
      %th Date
      %th First Player
      %th Second Player
      %th Prediction

  %tbody{style:'font-weight: 600; font-size:100%'}
    - @coming_games.each do |game|
      %tr
        %td
          = game[:date]
        %td
          = game[:first_player].name
          = game[:first_player].country
          - if game[:first_player].country
            %span.flag-icon{class: 'flag-icon-' + convert_country_code(game[:first_player].country)}

        %td
          = game[:second_player].name
          = game[:second_player].country
          - if game[:second_player].country
            %span.flag-icon{class: 'flag-icon-' + convert_country_code(game[:second_player].country)}

        %td{style:'font-weight: 400;'}
          - if game[:prediction] >= 0.5
            #{game[:first_player].name} wins with #{game[:prediction].round(2)} probability
          - else
            #{game[:second_player].name} wins with #{(1 - game[:prediction]).round(2)} probability
          = link_to '(Details)', {controller: 'players', action: 'compare',
            first_id: game[:first_player].oncourt_id, second_id: game[:second_player].oncourt_id }
